

  h1 {
    text-align: center;
    
    }

p1 {

    float: left;
    margin-right: 10px;  
    margin-top: 0px;
    font-size: 16pt;
}

p2{

    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 16pt;
   

}

p {

    float: none;
    font-size: 16pt;
    margin-top: 0px;
}

.GameSection {
    height: 70px;
    
    

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #Remaining_Guesses {

    position:absolute;
    top: 5px;
    right: 0px;
    padding-right: 2%;
  }

  #Completed_Words {

    position:absolute;
    top: 40px;
    right: 0px;
    padding-right: 2%;
  }

  body{
    /*background-image: url("../images/Escape_From_The_City.png");*/
    /*background-color: lightblue;*/
    height: 100%;
    z-index: -1;
   

  }

  html {
    height: 100%;

  }

  #Title_Block {

    height: 120px;
    margin-bottom: 20px;
    
    background-color: darkblue;
   padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    

  }

  #GameContainer {
   
    width: auto;

    color: white;
    padding: 10px;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: gray;
    padding: 10px;
    opacity: 0.95;

    
  }

  .bg {
    /* The image used */
   background-image: url("../images/Escape_From_The_City.png"); 
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
  }



  * {
    box-sizing: border-box;
    font-family: Tahoma, Geneva, sans-serif;
  }

